<h1>직원 목록</h1>

<table>
  <thead>
    <tr>
      <th>이름</th>
      <th>입사 날짜</th>
      <th>전화번호</th>
      <th>이메일</th>
      <th>직책</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name, employee %></td>
        <td><%= employee.start_date %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.role %></td>
        <td><%= link_to '자세히 보기', employee %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
