<div class="index-view">
  <h1>직원 목록</h1>

  <div class="index-commands">
    <% if can? :create, Employee %>
      <%= link_to new_employee_path, class:"button" do %>
        <%= fa_icon "plus" %> 직원추가
      <% end %>
    <% end %>
  </div>

  <table class="index-table">
    <thead>
      <tr>
        <th>이름</th>
        <th>입사 날짜</th>
        <th>전화번호</th>
        <th>이메일</th>
        <th>직책</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= link_to employee.name, employee %></td>
          <td><%= employee.start_date %></td>
          <td><%= employee.phone %></td>
          <td><%= employee.email %></td>
          <td><%= employee.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>