<div class="sidebar width-50">
  <p>
    <strong>Name:</strong>
    <%= @employee.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @employee.start_date %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @employee.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= @employee.role %>
  </p>

  <% if can? :edit, @employee %>
    <%= link_to 'Edit', edit_employee_path(@employee) %>  |
  <% end %>
  <%= link_to 'Back', employees_path %>
</div>
<div class="sidebar width-40">
  <% if @posts %>
    <table>
      <thead>
        <tr>
          <th>게시 시간</th>
          <th>내용</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.created_at.strftime("%Y/%m/%d - %H:%M") %></td>
            <td><%= trancate(post.content) %></td>
            <td><%= link_to '자세히 보기', post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    이 직원은 게시물을 올린 적이 없습니다.
  <% end %>
</div>