<div>
  <h1><%= @employee.name %></h1>

  <p>
    <strong>가입 날짜</strong>
    <%= @employee.start_date %>
  </p>

  <p>
    <strong>전화번호:</strong>
    <%= @employee.phone %>
  </p>

  <p>
    <strong>이메일:</strong>
    <%= @employee.email %>
  </p>

  <p>
    <strong>직책:</strong>
    <%= @employee.role %>
  </p>
</div>
<div>
  <h1>최근 게시물</h1>
  <% if @posts %>
    <table class="index-table">
      <thead>
        <tr>
          <th>게시 시간</th>
          <th>내용</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.created_at.strftime("%Y/%m/%d - %H:%M") %></td>
            <td><%= trancate(post.content) %></td>
            <td><%= link_to '자세히 보기', post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    이 직원은 게시물을 올린 적이 없습니다.
  <% end %>
</div>