<nav>
	<div>
		<%= link_to "홈", home_path, class: "nav-link" %>
		<%= link_to "현재 등록된 회원 목록", registrations_path, class: "nav-link" %>
		<%= link_to "회원 목록", members_path, class: "nav-link" %>
		<%= link_to "직원 목록", employees_path, class: "nav-link" %>
		<%= link_to "게시글 목록", posts_path, class: "nav-link" %>
	</div>
	<div>
		<% if logged_in? %>
			<%= link_to "안녕하세요, #{current_user.name}님", employee_path(current_user) %>
			<%= link_to "로그아웃", logout_path, class: "nav-link" %>
		<% else %>
			<%= link_to "로그인", login_path, class: "nav-link" %>
		<% end %>
	</div>
</nav>
