<h1>Listing Registrations</h1>

<table>
  <thead>
    <tr>
      <th>Member</th>
      <th>Seat number</th>
      <th>Start date</th>
      <th>End date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to Member.find(registration.member_id).name, member_path(registration.member_id) %></td>
        <td><%= registration.seat_number %></td>
        <td><%= registration.start_date %></td>
        <td><%= registration.end_date %></td>
        <td><%= link_to 'Show', registration %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registration', new_registration_path %>
