<div class="index-view">
  <h1>대기자 목록</h1>

  <div class="index-commands">
    <%= link_to 'wait_statuses.csv', class:"button" do %>
      <%= fa_icon "download" %> CSV 다운로드
    <% end %>
  </div>

  <table class="index-table">
    <thead>
      <tr>
        <th>대기자</th>
        <th>테이블</th>
        <th>대기 시작 날짜</th>
        <th>전화번호</th>
        <th>이메일</th>
        <!-- <th colspan="3"></th> -->
      </tr>
    </thead>

    <tbody>
      <% @current_wait_statuses.each do |wait_status| %>
        <tr>
          <td><%= link_to wait_status.member.name, wait_status.member %></td>
          <td><%= wait_status.table_type.capitalize %></td>
          <td><%= wait_status.start_date %></td>
          <td><%= wait_status.member.phone %></td>
          <td><%= wait_status.member.email %></td>
          <!--
          <td><%#= link_to 'Show', wait_status %></td>
          <td><%#= link_to 'Edit', edit_wait_status_path(wait_status) %></td>
          <td><%#= link_to 'Destroy', wait_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>