<div class="index-view">
  <h1>게시글 목록</h1>

  <div class="index-commands">
    <% if can? :create, Post %>
      <%= link_to new_post_path, class:"button" do %>
        <%= fa_icon "plus" %> 게시물 작성
      <% end %>
    <% end %>
  </div>

  <table class="index-table">
    <thead>
      <tr>
        <th>작성 시간</th>
        <th colspan="3">내용</th>
        <th>올린 이</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <% employee = Employee.find(post.employee_id) %>
        <tr>
          <td><%= post.created_at.strftime("%Y/%m/%d - %H:%M") %></td>
          <td colspan="3"><%= trancate(post.content) %></td>
          <td><%= link_to employee.name, employee %></td>
          <td><%= link_to '자세히 보기', post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
