<p>
  <strong>올린 시간:</strong>
  <%= @post.created_at %>
</p>

<p>
  <strong>내용:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>올린 이:</strong>
  <%= Employee.find(@post.employee_id).name %>
</p>

<%= link_to '수정하기', edit_post_path(@post) %> |
<%= link_to '지우기', @post, method: :delete, data: { confirm: '이 게시글을 지우시겠습니까?' } %> |
<%= link_to '목록 보기', posts_path %>
