<h1>Listing Members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Gender</th>
      <th>Join date</th>
      <th>Age group</th>
      <th>Employee</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= member.phone %></td>
        <td><%= member.email %></td>
        <td><%= member.gender %></td>
        <td><%= member.join_date %></td>
        <td><%= member.age_group %></td>
        <td><%= Employee.find(member.employee_id).name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_member_path %>
