<h1>회원 목록</h1>
<%= link_to '신규 회원 가입', new_member_path %>

<table>
  <thead>
    <tr>
      <th>성함</th>
      <th>전화번호</th>
      <th>이메일</th>
      <th>성별</th>
      <th>가입 날짜</th>
      <th>나이</th>
      <th>가입 담당 직원</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.name, member %></td>
        <td><%= member.phone %></td>
        <td><%= member.email %></td>
        <td><%= member.gender %></td>
        <td><%= member.join_date %></td>
        <td><%= member.age_group %></td>
        <% employee = Employee.find(member.employee_id) %>
        <td><%= link_to employee.name, employee %></td>
      </tr>
    <% end %>
  </tbody>
</table>
