<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @member.gender %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @member.join_date %>
</p>

<p>
  <strong>Age group:</strong>
  <%= @member.age_group %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employee.name %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
