<div class="sidebar width-40" >

  <div>
    <h1><%= @member.name %></h1>
    <%= link_to '+ 대기 등록 신청', new_wait_status_path(:member_id => @member.id), class:"button" %>
    <%= link_to '+ 테이블 등록 신청', new_registration_path(:member_id => @member.id), class:"button" %>
  </div>

  <p>
    <strong>전화번호:</strong>
    <%= @member.phone %>
  </p>

  <p>
    <strong>이메일:</strong>
    <%= @member.email %>
  </p>

  <p>
    <strong>성별:</strong>
    <%= @member.gender %>
  </p>

  <p>
    <strong>가입 날짜:</strong>
    <%= @member.join_date %>
  </p>

  <p>
    <strong>생년월일:</strong>
    <%= @member.birthdate %>
  </p>

  <p>
    <strong>학교:</strong>
    <%= @member.school %>
  </p>

  <p>
    <strong>가입 담당 직원:</strong>
    <%= @employee.name %>
  </p>

  <p>
    <strong>특이사항:</strong>
    <%= @member.comment %>
  </p>
  <%= link_to '회원 정보 수정하기', edit_member_path(@member) %>
</div>

<div class="sidebar right-sidebar width-50">
  <%= render 'member_registrations' %>
  <%= render 'member_wait_statuses' %>
</div>
